{% extends "base.html" %}
{% block content %}
<div class="card">
    <h2>{{ item.title }}</h2>
    <img src="{{ item.image_url }}">
    <p><strong>描述：</strong>{{ item.description }}</p>
    <p><strong>胶囊故事：</strong>{{ item.story }}</p>
    <p><strong>模式：</strong>{{ item.mode }}</p>
    {% if current_user.is_authenticated and item.status=="available" and item.publisher_id!=current_user.id %}
    <form method="post" action="{{ url_for('item.exchange',item_id=item.id) }}">
        {{ form.hidden_tag() }}
        {{ form.message.label }}{{ form.message() }}
        {{ form.submit(class="btn") }}
    </form>
    {% endif %}
</div>
{% endblock %}